body {
    font-family: 'Vedana', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.navbar {
    background-color: #333;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.navbar-brand:hover {
    color: #007bff;
}

.navbar-toggler {
    border: none;
    background-color: #007bff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.navbar-nav {
    font-size: 18px;
}

.navbar-nav .nav-item {
    margin-right: 15px;
}

.navbar-nav .nav-link {
    color: #fff;
    transition: color 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
    color: #007bff;
}

.navbar:hover {
    background-color: #444;
}

#home {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(171,171,254,1) 0%, rgba(93,197,255,1) 15%, rgba(73,181,227,1) 27%, rgba(120,226,155,1) 55%, rgba(0,212,255,1) 100%);
    background-size: cover;
    background-position: center;
    color: #000;
    padding: 100px 0;
    text-align: center;
}

#home h1 {
    font-size: 36px;
}

#home h2 {
    font-size: 24px;
    margin-top: 20px;
}

#home a.btn {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    padding: 12px 24px;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

#home a.btn:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

#about {
    text-align: center;
}

#about h2 {
    font-size: 25px;
    color: #000000;
    margin-bottom: 10px;
}

#about p {
    font-size: 18px;
    color: #444;
    margin: 20px 0;
}

@media (min-width: 768px) {
    #about h2 {
        font-size: 42px;
    }

    #about p {
        font-size: 20px;
    }
}

#skills {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(171,171,254,1) 0%, rgba(93,197,255,1) 15%, rgba(73,181,227,1) 27%, rgba(120,226,155,1) 55%, rgba(0,212,255,1) 100%);
    padding: 30px 0;
}

#skills h2 {
    font-size: 36px;
    color: #333;
    text-align: center;
    padding-bottom: 10px;
}

.card {
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    padding: 10px;
    border-radius: 10px;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin: 15px 0;
    font-weight: bold;
}

.card-text {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
}

#contact {
    background-color: #c4f5f3;
    padding: 60px 0;
    text-align: center;
    border-radius: 15px;
}

#contact h2 {
    font-size: 36px;
    color: #007bff;
}

footer {
    background-color: #f3eded;
    color: #333;
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #b5f0ee;
}

#portfolio {
    background-color: #fff;
    padding: 60px 0;
    text-align: center;
}

#portfolio h2 {
    font-size: 36px;
    color: #333;
}

.portfolio-item {
    margin: 20px;
}

.portfolio-item img {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.portfolio-item img:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

#services {
    background-color: #f7f7f7;
    padding: 60px 0;
    text-align: center;
}

#services h2 {
    font-size: 36px;
    color: #007bff;
}

.service-item {
    margin: 20px;
}

.service-icon {
    font-size: 36px;
    color: #007bff;
}

.service-title {
    font-size: 24px;
    color: #333;
    margin-top: 10px;
}

.service-description {
    font-size: 18px;
    color: #555;
    margin-top: 10px;
}

#testimonials {
    background-color: #333;
    color: #fff;
    padding: 60px 0;
    text-align: center;
}

#testimonials h2 {
    font-size: 36px;
}

.testimonial {
    margin: 20px;
}

.testimonial-author {
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}


.testimonial-text {
    font-size: 18px;
    margin-top: 10px;
}

@media (max-width: 767px) {
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        min-height: 1px;
        padding: 0.25rem;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
}
